{% extends 'base.html' %}

{% block title %}
    All users
{% endblock %}

{% block content %}
    <h2>All users</h2>
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <img src="{{ user.avatar.url }}" class="rounded-circle me-2" width="50">
                    <b>{{ user.username }}</b>
                </div>

            </li>
        {% endfor %}
    </ul>
{% endblock %}